@import "tailwindcss";

:root {
	--background: #fbf9f7;
	--textColor: #313330;
	--foreground: #171717;
	--secondryText: #5e5f5d;
	--primaryForest: #366847;
}

body {
	color: var(--background);
	overflow-x: hidden !important;
	font-family: var(--font-newsreader);
	color: var(--foreground);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-greenforest: #366847;
	--color-black: #313330;
	--color-white: #fbf9f7;

	--font-inter: var(--font-inter);

	/* Media Query */
	--breakpoint-3xl: 1800px;
}

@utility font80 {
	@apply text-[28px] md:text-[34px] lg:text-[42px] xl:text-[52px] 2xl:text-[64px] [@media(min-width:1800px)]:text-[80px];
}

@utility font40 {
	@apply text-[16px] lg:text-[20px] xl:text-[24px] 2xl:text-[32px] [@media(min-width:1800px)]:text-[40px];
}

@utility font20 {
	@apply xl:text-[14px] 2xl:text-[16px] [@media(min-width:1800px)]:text-[20px];
}

@utility font18 {
	@apply xl:text-[14px] 2xl:text-[16px] [@media(min-width:1800px)]:text-[18px];
}

@utility font16 {
	@apply text-[14px] 2xl:text-[16px];
}

@utility font14 {
	@apply text-[14px];
}

@layer component {
	.greenBtn {
		@apply bg-[#366847] font-inter font18 flex items-center gap-2.5 rounded-[50px] px-8 py-3 leading-[100%] text-white lowercase dark:border dark:border-white dark:bg-transparent dark:text-white;
	}
	/* .whiteBtn {
    @apply font-Ovo font18 text-charcoal flex items-center gap-2.5 rounded-[50px] border border-[#A7A7A7] bg-white px-8 py-5 leading-[100%] lowercase dark:bg-white dark:text-black;
  } */

	/* .scrollStop {
    @apply h-screen touch-none overflow-x-hidden overflow-y-hidden;
  } */
}
